.wishlist {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 8rem;

  .wishlistContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: calc(100vh - 18rem);
    overflow-y: scroll;
  }
}
