.item {
  display: grid;
  grid-template-columns: 0.6fr 1.7fr 0.7fr;
  gap: 1rem;
  background: var(--grey);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.5rem 0rem grey;
}

.imgContainer {
  background-color: white;
  width: 7rem;
  height: 7rem;
  border: 1px solid grey;
  border-radius: 1rem;

  img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
}

.info {
  display: grid;
  h5,
  h4 {
    font-weight: 600;
  }

  p {
    font-size: 1.4rem;
  }
}

.other {
  display: grid;
  justify-items: end;

  .delBtn {
    height: fit-content;
    border: none;
    background: none;

    img {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  div {
    align-self: self-end;
  }
}
